body{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

.house{
	background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 410px;
    margin-left: 170px;
    margin-top: 205px;
    width: 610px;
}
.roof {
    border-bottom: 150px solid blue;
    border-left: 325px solid transparent;
    border-right: 325px solid transparent;
    position: absolute;
    top: 231.5px;
}

#door{
    display:inline-block;
    justify-content: flex-start; 
    background: green;
    height: 120px;
    width: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: -225px;
}

#window{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
}
#window:after, #window:before{
    content: '';
    display: inline-block;
    height:55px;
    width:55px;
    background: lightblue;
}


